/* Bootstrap Barrio fixes */
/* Alerts */
.alert-success::before,
.alert-warning::before,
.alert-danger::before {
  display: none;
}

/* Undo 'col-auto' container horizontal padding */
.col-auto {
  padding-left: 0;
  padding-right: 0;
}

/* Tables */
table {
  margin-top: inherit;

  tr {
    background: inherit;
    border-color: inherit;
    border-style: inherit;
    border-width: inherit;

    td,
    th {
      background: inherit;
      border-color: inherit;
      border-style: inherit;
      border-width: inherit;
      color: inherit;
      font-size: 1rem;
      padding: inherit;
    }
  }
}
