#cboxWrapper {
  background: rgb(128 128 128 / 10%);
}

#cboxTitle {
  font-size: 97%;
  line-height: 1rem;
  padding: 0.25rem .5rem;
}
/* Restore stock cboxTitle right padding if slideshow controls are visible */
#cboxContent:has(#cboxCurrent:not([style*="display: none"])) {
  #cboxTitle {
    padding-right: 140px;
  }
}

#cboxCurrent {
  bottom: -31px;
}

a.colorbox {
  display: inline-block;

  &.focus-ring,
  &:hover {
    outline: none;

    img {
      box-shadow: 0 0 .3rem #000;
    }
  }
}
