.entity-moderation-form {
  background-color: #ffebad;
  padding-top: 1rem;

  .form-item-current {
    color: $red;

    label {
      color: $black;
      &:after {
        content: "is";
      }
    }
  }
}
