.facets-widget-checkbox {
  input[type="checkbox"] {
    margin-right: .35rem;
    margin-top: 2px;
    transform: scale(1.2);
  }

  .facet-item input:focus,
  .facet-item input:focus + label .facet-item__value,
  .facet-item input:hover,
  .facet-item:hover .facet-item__value {
    color: $link-hover-color;
    text-decoration: underline;
  }

  .facet-item:hover,
  .facet-item:hover input,
  .facet-item:hover label,
  label.checkbox-toggle:hover {
    cursor: pointer;
  }
}
