.field__items > .field__item:not(:empty) {
  margin-right: 1rem;
}
/* Fix multi-column layout */
.layout .field__items > .field__item {
  margin-right: 0;
}
.field--type-entity-reference {
  margin: 0;
}
.field--label-inline {
  display: flex;
}
.field--label-inline .field__label {
  margin-right: .5rem;

  &:after {
    content: ':'
  }
}
