ul.footnotes {
  border-top-color: $dark;
  font-size: inherit;
  margin-top: 2.5rem;
  padding-top: .25rem;

  li {
    margin-left: 1.25em;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

.footnote-label,
.see-footnote {
  padding: 0 1px;
}

.see-footnote,
.footnotes .footnote {
  border: 1px solid transparent;

  &:target {
    background-color: $gray-200;
    border: 1px solid $gray-300;
  }
}
