/* Fix label/checkbox inline */
.checkbox label {
  display: inline-block;
}
/* Match column 2 layout's field bottom whitespace with sidebar block  */
.field--name-field-column-2 .field__item {
  margin-bottom: 2.5rem;
}
/* Normal size layout builder form buttons */
.form-actions input.btn {
  width: inherit;
}

.layout__region--content .paragraph .field__item,
.node__content .layout:not(:last-child) {
    margin-bottom: 2.5rem;
}
.layout__region--content .paragraph .field__item .field--type-image,
.layout__region--content .paragraph .field__item .field__item {
  margin-bottom: 0;
}

.layout--twocol-section--67-33 {
  @media (min-width: 992px) {
    .layout__region--first {
      padding-right: .5rem;
    }
    .layout__region--second {
      padding-left: 1.25rem;
    }
  }
  @media (min-width: 1200px) {
    .layout__region--first {
      padding-right: .75rem;
    }
  }
}
/*.layout--twocol-section--50-50 {
  @media (min-width: 992px) {
    .layout__region--first {
      padding-right: 1rem;
    }
    .layout__region--second {
      padding-left: 1rem;
    }
  }
}*/
/* Begin col stack at larger resolution */
@media (max-width: 991px) {
  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--first,
  .layout--twocol-section.layout--twocol-section--67-33 > .layout__region--second {
    flex: 1 100%;
    margin-right: 0;
  }
}
