.paragraph--type--protected-file-section .field--name-field-section-content.field__item,
.layout__region--content .field--type-protected-file > div.field__item:not(:last-child) {
    margin-bottom: 0;
}
.file--application-pdf {
  background-image: none;
}
.file {
  padding-left: 0;
}
