#back-top {
  bottom: 0;
  margin-left: 0;
  right: 1.5rem;
}
#back-top #button {
  border: 1px solid $white;
}
/* Visually hidden Back to top button text (for assistive tech) */
#back-top #link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
