
#scrollUp {
  opacity: .7;
  z-index: 9998!important;
  /* Mirror SVG settings for Link skin */
  background-color: $black;
  border-radius: 100%;
  box-shadow: $ivy-boxshadow;
  right: $ivy-position;
  bottom: 108px;
  width: $ivy-size;
  height: $ivy-size;
  text-indent: -9999px;
  transition: none;
  transition: opacity $ivy-transition-duration ease-in-out, outline $ivy-transition-duration ease-in-out;

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:hover,
  &.focus-ring {
    outline-offset: -5px;
    outline: 3px solid $white;
  }
  /* Mirror SVG settings for Link skin */
  &::after {
    background-color: $white;
    display: block;
    content: " ";
    margin-top: -27px;
    width: 100%;
    height: 100%;
    -webkit-mask-image: url(/modules/contrib/jquery_scrollup/misc/angle-up.svg);
    -webkit-mask-size: 28px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-image: url(/modules/contrib/jquery_scrollup/misc/angle-up.svg);
    mask-size: 28px;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}
