.sidebar {
  h2 {
    border: none;
    font-size: 1.5rem;
  }

  li {
    line-height: 1.2rem;
    margin-bottom: 0;
  }

  .block {
    border: none;
    margin-bottom: 2.5rem;
    padding: 0;

    .content {
      font-size: 1rem;
      line-height: inherit;
    }
  }
}