/* Undo Bootstrap Barrio table overrides */
table {
    tr td,
    tr th {
        background: inherit;
        border-color: inherit;
        border-style: inherit;
        border-width: inherit;
        color: inherit;
        font-size: 1rem;
        padding: inherit;
    }
}

/* Slightly lighten stock BS4 stripe bg color */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(128, 128, 128, 0.05);
}
/* Override stock BS4 hover effect */
.table-hover tbody tr:hover {
    color: $black;
    background-color: blanchedalmond;
}

/* Views > Format: Table no class field workaround (Advanced > Other > CSS Class)*/
div.table-bordered {
    border: 0;
}

/* Full col-width clickable, table sort header cells w/ sort icons to the right */
thead a {
    display: block;

    span.tablesort {
        float: right;
    }
}
