/* Visually identify required fields inside conditional fieldsets (not accessible - only decorative) */
fieldset[data-drupal-states*='required'] legend .form-required:after {
  content: "(required)";
  color: $red;
  font-size: smaller;
  margin-left: .25rem;
}

.choices[data-type*=select-one] .choices__inner {
  background-color: #fff;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: .95rem;
  min-height: 38px;
  padding: .5rem .75rem;

  .choices__list--single {
    padding: 0;
  }
}

/* Webform Address > Required > Country field indication */
.js-form-wrapper[required="required"] .form-item-mailing-address-country-code {
  label {
    &:after {
      color: $red;
      content: '(required)';
      font-size: 80%
    }
  }
}

.form-actions {
  .webform-button--next,
  .webform-button--previous {
    background-color: #6c757d;
    border-color: #6c757d;
    color: $white;

    &:focus,
    &:hover {
      background-color: #5a6268;
      border-color: #545b62;
      color: $white;
    }
  }

  .webform-button--submit {
    background-color: $black;
    border-color: rgba(0, 0, 0, 0.5);
    color: $white;

    &:focus,
    &:hover {
      color: $yellow;
      border-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.webform-multiple-add {
  .btn-primary[type="submit"] {
    width: fit-content;
  }
}

form.theme-dark>.webform-elements>.form-group>fieldset>legend {
  border-bottom: 2px solid #1B2125;
  color: #495057;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.alert-success {
  mark {
    background-color: inherit;
    color: #743944;
    font-size: 95%;
    font-weight: bold;
  }
}

/* Webform 6.x Progress Tracker */
.webform-progress-tracker {
  margin: 0.5rem 10%;

  .progress-step {
    .progress-marker {
      &:before {
        font-size: 85%;
        padding: .25rem;
      }
    }

    &.is-active,
    &.is-active:hover {
      .progress-marker {
        &:before {
          background-color: $unb-red;
        }
      }

      .progress-text {
        color: $black;
      }
    }

    &.is-complete,
    &.is-complete:hover {
      .progress-text {
        color: $text-muted-wcag;
      }
    }

    .progress-text {
      font-size: 90%;
    }
  }
}

/* Dataverse Data Deposit Request Style/Alignment Overrides */
.webform-submission-data-deposit-request-form-form {
  .thead-dark th {
    background-color: $light;
    border-color: $light;
    color: $dark;
    padding-left: 0;
  }

  #edit-container-pi .fieldset-wrapper,
  td {
    padding-left: 1rem;
  }
}


/* Legend Help element tweaks */
.webform-element-help {
  font-size: 14px;
  line-height: 18px;
}

/* Webform 5.x Progress Tracker
.webform-progress-tracker {
  &.progress-tracker {
    margin: .33rem 10%;
  }
  .progress-marker {
    font-size: 80%;
    padding: .25rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .progress-step {
    &.is-active,
    &.is-active:hover {
      .progress-marker {
        background-color: $unb-red;
      }

      .progress-text {
        color: $black;
      }
    }

    &.is-complete,
    &.is-complete:hover {
      .progress-marker {
        background-color: #777;
      }

      .progress-text {
        color: $text-muted-wcag;
      }
    }

    .progress-text {
      font-size: 90%;
    }
  }
}
*/
