.webform-options-display-one-column {
  .custom-radio,
  .custom-checkbox {
    .description {
      display: block;
      margin-bottom: 0.5rem;
    }
  }
}

/* Visually identify required fields inside conditional fieldsets (not accessible - only decorative) */
fieldset[data-drupal-states*='required'] legend .form-required:after {
  content: "(required)";
  color: $red;
  font-size: smaller;
  margin-left: .25rem;
}

.choices[data-type*=select-one] .choices__inner {
  background-color: #fff;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  font-size: .95rem;
  min-height: 38px;
  padding: .5rem .75rem;

  .choices__list--single {
    padding: 0;
  }
}

/* Webform Address > Required > Country field indication */
.js-form-wrapper[required="required"] .form-item-mailing-address-country-code {
  label {
    &:after {
      color: $red;
      content: '(required)';
      font-size: 80%
    }
  }
}

/* Webform multi-page forms */
.webform-button--next,
.webform-button--previous,
.webform-multiple-add .form-submit {
  background-color: $light;
  border-color: $dark;
  color: $dark;

  &:focus,
  &:hover {
    background-color: $gray-300!important;
    border-color: $black!important;
    color: $black!important;
  }
  &:active {
    box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 4px!important;
  }
}
/* Progress Tracker */
.webform-progress-tracker {
  margin: 2.5rem;

  .progress-step {
    .progress-marker {
      &:before {
        padding: .25rem;
        width: 2rem;
        height: 2rem;
      }
      &:after {
        background-color: $gray-500;
        top: 0.95rem;
      }
    }

    &.is-active,
    &.is-active:hover,
    &.is-complete,
    &.is-complete:hover {
      .progress-marker {
        &:before {
          background-color: $unb-red !important;
        }
      }

      .progress-text {
        color: $black;
      }
    }

    &.is-complete {
      .progress-marker {
        &:after {
          background-color: $unb-red !important;
        }
      }
    }
  }
}

.form-actions {
  .webform-button--submit {
    background-color: $black;
    border-color: rgba(0, 0, 0, 0.5);
    color: $white;

    &:focus,
    &:hover {
      color: $yellow;
      border-color: rgba(0, 0, 0, 0.8);
    }
  }
}

.webform-multiple-add {
  .btn-primary[type="submit"] {
    width: fit-content;
  }
}

form.theme-dark>.webform-elements>.form-group>fieldset>legend {
  border-bottom: 2px solid #1B2125;
  color: #495057;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.alert-success {
  mark {
    background-color: inherit;
    color: #743944;
    font-size: 95%;
    font-weight: bold;
  }
}

/* Managed file widget */
.form-managed-file {
  padding: .5rem;

  label {
    margin: 0 0.5rem 0 0;

    &.webform-file-button {
      white-space: nowrap;
    }
  }

  div.custom-control {
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .custom-checkbox {
    label {
      &:before {
        top: 0.3rem;
        transform: scale(1.1);
      }
    }
  }

  input {
    &[value*=Remove] {
      flex: 0;
      margin-top: 0;
      padding-bottom: 0.25;
      padding-top: 0.25;
    }
  }
}

/* Dataverse Data Deposit Request Style/Alignment Overrides */
.webform-submission-data-deposit-request-form-form {
  .thead-dark th {
    background-color: $light;
    border-color: $light;
    color: $dark;
    padding-left: 0;
  }

  #edit-container-pi .fieldset-wrapper,
  td {
    padding-left: 1rem;
  }
}


/* Legend Help element tweaks */
.webform-element-help {
  font-size: 14px;
  line-height: 18px;
}

.form-type-webform-custom-composite {
  input:required {
    background-image: url(/core/misc/icons/ee0000/required.svg);
    background-position: 98% center;
    background-repeat: no-repeat;
    background-size: 0.5rem;
    padding-right: 1rem;
  }
}
.webform-options-display-one-column {
  .custom-radio {
    .description {
      margin-bottom: 1rem;
    }
  }
}

.has-error {
  .invalid-feedback {
    display: inherit;
  }
}

/* Webform 5.x Progress Tracker
.webform-progress-tracker {
  &.progress-tracker {
    margin: .33rem 10%;
  }
  .progress-marker {
    font-size: 80%;
    padding: .25rem;
    height: 1.5rem;
    width: 1.5rem;
  }

  .progress-step {
    &.is-active,
    &.is-active:hover {
      .progress-marker {
        background-color: $unb-red;
      }

      .progress-text {
        color: $black;
      }
    }

    &.is-complete,
    &.is-complete:hover {
      .progress-marker {
        background-color: #777;
      }

      .progress-text {
        color: $text-muted-wcag;
      }
    }

    .progress-text {
      font-size: 90%;
    }
  }
}
*/
