/* Fix Webform nested custom-control class */
.custom-control {
  label.custom-control {
    position: relative;
    display: inline-block;
    padding-left: 0;
    vertical-align: top;
  }
}

.webform-submission-form {
  border: 1px solid #cdcdcd;
  @include css3-prefix(border-radius, 6px);
  display: block;
  padding: 20px 25px 0px;

  fieldset {
    & > label {
      color: $gray-700;
      font-weight: bold;
      margin-bottom: 0;
    }
    fieldset {
      margin-bottom: 1.5rem;
    }
  }

  select.error {
    color: $nav-red;
    border-color: $nav-red;
    background-image: url(/core/misc/icons/ee0000/ex.svg);
    background-repeat: no-repeat;
    background-position: 98.5%;
    background-size: .85rem;
    padding-right: 2%;

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
    }

    option {
        color: initial;
    }
  }

  .radio .error {
    & + label {
      color: $nav-red;
    }
  }

  .webform-options-display-side-by-side {
    /* Emulate Bootstrap 4 custom-control-inline w/ Webform > Options display > Side by side */
    div.custom-control {
      display: inline-flex;
      margin-right: 1rem;
    }
  }

  .webform-element--title-inline > label {
    padding-right: 0;
  }

  .webform-type-fieldset {
    margin-bottom: 1.5rem;

    & > legend {
      border-bottom: 1px solid #e5e5e5;
      color: $gray-700;
      font-weight: bold;
      margin-bottom: 1.5rem
    }
  }
}