<div class="row mb-4">
{% set percol = (categories|length / 3)|round(0, 'ceil') %}
{% for col in categories|batch(percol) %}
  <div class="col">
    <ul>
  {% for category in col %}
      <li><a href="{{ path('entity.guide_category.canonical', {'guide_category': category.id()}) }}">{{ category.label }}</a></li>
  {% endfor %}
    </ul>
  {% if loop.first %}
    <a class="btn btn-primary" href="{{ path('view.research_guides.all') }}"><span class="fas fa-search"></span> View All Research Guides</a>
  {% endif %}
  </div>
{% endfor %}
</div>
