.additional-toggle[aria-expanded=false] .text-expanded {
  display: none;
}
.additional-toggle[aria-expanded=true] .text-collapsed {
  display: none;
}

.social-buttons .btn {
  color: #fff;
  margin: .25rem .25rem .25rem 0;
}

.social-buttons .btn-twitter {
  background-color: #333;
}

.social-buttons .btn-facebook {
  background-color: #3b5998;
}

.social-buttons .btn-linkedin {
  background-color: #007bb5;
}

.social-buttons .btn-researchgate {
  background-color: #40ba9b;
}

.social-buttons .btn-orcid {
  background-color: #447405;
}

.social-buttons .btn-instagram {
  background-color: #d03f7c;
}

.social-buttons .btn:hover, .social-buttons .btn:focus {
  color: #fff;
  opacity: 0.7;
}

.guide-title {
  margin-bottom: .25rem;
}
.title .btn {
  font-family: "ProximaNovaA-Regular", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-weight: bold;
}
.Accordion-panel {
  min-width: 66%;
}

#guide figure {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#guide figure iframe {
  padding: 0;
}
#guide .field--name-field-media-oembed-video {
  display: inline-block;
}
#guide .align-center .field--name-field-media-oembed-video,
#guide .align-left .field--name-field-media-oembed-video,
#guide .align-right .field--name-field-media-oembed-video {
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-width: 100%;
  width: 300px;
}
#guide .caption.align-center .field--name-field-media-oembed-video,
#guide .caption.align-left .field--name-field-media-oembed-video,
#guide .caption.align-right .field--name-field-media-oembed-video {
  margin-bottom: 0;
  margin-top: 0;
}
@media (min-width: 576px) {
  #guide .align-center .field--name-field-media-oembed-video,
  #guide .align-left .field--name-field-media-oembed-video,
  #guide .align-right .field--name-field-media-oembed-video {
    width: 416px;
  }
}
@media (min-width: 768px) {
  #guide .align-center .field--name-field-media-oembed-video,
  #guide .align-left .field--name-field-media-oembed-video,
  #guide .align-right .field--name-field-media-oembed-video {
    width: 516px;
  }
}
@media (min-width: 1200px) {
  #guide .align-center .field--name-field-media-oembed-video,
  #guide .align-left .field--name-field-media-oembed-video,
  #guide .align-right .field--name-field-media-oembed-video {
    width: 616px;
  }
}
@media (min-width: 1400px) {
  #guide .align-center .field--name-field-media-oembed-video,
  #guide .align-left .field--name-field-media-oembed-video,
  #guide .align-right .field--name-field-media-oembed-video {
    width: 716px;
  }
}

#moreInfo {
  min-width: 33%;
}
#moreInfo .header-icons button[data-toggle="collapse"] {
  color: #fff;
  text-align: left;
  transition: color .3s ease-in-out;
  width: 100%;
}
#moreInfo .header-icons button[data-toggle="collapse"]:after {
  float: right;
  font: var(--fa-font-solid);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#moreInfo .header-icons button[data-toggle="collapse"]:focus,
#moreInfo .header-icons [data-toggle="collapse"]:hover {
  color: #ffc107;
}
#moreInfo .header-icons button[aria-expanded="true"]:after {
  content: "\f077";
}
#moreInfo .header-icons [aria-expanded="false"]:after {
  content: "\f078";
}

.custom-legend {
  font-size: 1.3rem;
}

/* Quick hack to prevent Edit Guide | Details Sidebar | Guise Category collapse re: validation
details[data-drupal-selector="edit-group-guide-categories"] > summary {
  list-style-type: none;
  pointer-events: none
}
*/
