.nav-tabs .nav-link {
  letter-spacing: 1px;
}
.nav-tabs .active .nav-link.active {
  color: #212529;
}
.nav-tabs .active .nav-link:hover {
  cursor: default;
}
.nav-tabs .active .nav-link:after {
  color: #212529;
  content: '\f058';
  font: var(--fa-font-solid);
  font-size: 85%;
  margin-left: .25rem;
  text-rendering: auto;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}
h2.alert {
  color: #212529;
  font-size: 1rem;
}
.view-content {
  margin-top: 1rem;
}
.view-content h2 {
  margin-bottom: 0;
}
.view-content .vertical {
  margin-bottom: 1.5rem;
}
