/* DO NOT PRINT */
.social-buttons {
  display: none;
}

/* ALTER PRINT DISPLAY */
#moreInfo .header-icons button[data-toggle="collapse"] {
  color: #900;
  font-family: "ProximaNovaA-Thin", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: inherit!important;
}
#moreInfo .header-icons button[aria-expanded="true"]:after {
  content: none;
}
