/* DO NOT PRINT */
h1.title .btn {
  display: none;
}

/* ALTER PRINT DISPLAY */
#moreInfo .header-icons button[data-toggle="collapse"] {
  color: #900;
  font-family: "ProximaNovaA-Thin", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: inherit!important;
}
#moreInfo .header-icons button[aria-expanded="true"]:after {
  content: none;
}

.social-buttons a {
  border: none;
  color: #343a40!important;
  display: block;
  padding: 0;
  text-align: left;
}
.social-buttons .fab,
.social-buttons .fas {
  font-size: 1.25rem;
}
.social-buttons a::after {
  color: #adb5bd;
  content: " [" attr(href) "]";
}
