{%
    set list_classes = [
        'field--name-' ~ field_name|clean_class,
        'list-inline',
    ]
%}

<ul{{ attributes.addClass(list_classes) }}>
    {% for item in items %}
        <li{{ item.attributes.addClass('list-inline-item') }}>
            {{ item.content }}
        </li>
    {% endfor %}
</ul>
