@font-face {
  font-family: 'eresources';
  src:  url('../fonts/eresources.eot?oep1hl');
  src:  url('../fonts/eresources.eot?oep1hl#iefix') format('embedded-opentype'),
    url('../fonts/eresources.ttf?oep1hl') format('truetype'),
    url('../fonts/eresources.woff?oep1hl') format('woff'),
    url('../fonts/eresources.svg?oep1hl#eresources') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="eresources-icon-"], [class*=" eresources-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eresources' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eresources-icon-zotero:before {
  content: "\f309";
}

.local-description {
  border-left: 4px solid #ccc;
}

@media (min-width: 1200px) {
  #eresources-discovery-search nav.navbar {
    max-width: 75%;
  }
}
@media (max-width: 575px) {
  .form-row div.form-actions {
    width: 100%;
  }
}
.list-results .list-group-item {
  padding-left: 0;
  padding-right: 0;
}
.list-results .list-group-item .row {
  margin-left: 0;
  margin-right: 0;
}
.list-results .list-group-item .title {
  color: #000;
  font-family: "ProximaNovaA-Semibold", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 0;
}
.list-results .list-group-item ul {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
@media (max-width: 991px) {
  .list-results .list-group-item li {
    margin-bottom: 0.5rem;
  }
}
.list-results .eresources-local-record span[role=button] {
  color: #00607a;
}
.list-results .eresources-local-record a {
  display: inline;
}
.list-results .list-group-item li a {
  display: inline;
  font-style: italic;
}
.list-results .eresources-local-record li a {
  font-style: normal;
}
.list-results .list-group-item li .col-12 {
  padding-left: 0;
}
ul.list-bullets li.d-flex:before {
  content: "•";
  left: 2.5rem;
  position: absolute;
}
.list-results .coverage {
  font-weight: 600;
}
.list-results .list-group-item .oclcnum {
  font-size: 80%;
  text-align: left;
}
@media (min-width: 992px) {
  .list-results .list-group-item .oclcnum {
    text-align: right;
  }
}
.list-results .list-group-item .oclcnum p {
  display: inline;
}
.list-results .list-group-item .oclcnum p:nth-child(n+2):before {
  color: #999;
  content: '| ';
  margin: 0 .2rem;
}
#search_results_wrapper .pagination {
  flex-wrap: wrap;
}
