.local-description {
  border-left: 4px solid #ccc;
}

@media (min-width: 1200px) {
  #eresources-discovery-search nav.navbar {
    max-width: 75%;
  }
}
@media (max-width: 575px) {
  .form-row div.form-actions {
    width: 100%;
  }
}
.list-results .list-group-item {
  padding-left: 0;
  padding-right: 0;
}
.list-results .list-group-item .row {
  margin-left: 0;
  margin-right: 0;
}
.list-results .list-group-item .title {
  color: #000;
  font-family: "ProximaNovaA-Semibold", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2;
  margin-top: 0;
}
.list-results .list-group-item ul {
  margin-left: 0.8rem;
  margin-top: 0.5rem;
}
@media (max-width: 991px) {
  .list-results .list-group-item li {
    margin-bottom: 0.5rem;
  }
  .js-form-item.form-group {
    width: 100%;
  }
}
.list-results .eresources-local-record span[role=button] {
  color: #00607a;
}
.list-results .eresources-local-record a {
  display: inline;
}
.list-results .eresources-local-record .title ul {
  font-family: "ProximaNovaA-Regular","Century Gothic",AppleGothic,Arial,sans-serif;
}
.list-results .list-group-item li a {
  display: inline;
  font-style: italic;
}
.list-results .eresources-local-record li a {
  font-style: normal;
}
.list-results .list-group-item li .col-12 {
  padding-left: 0;
}
ul.list-bullets li.d-flex:before {
  content: "•";
  left: 2.5rem;
  position: absolute;
}
.list-results .coverage {
  font-weight: 600;
  font-family: "ProximaNovaA-Semibold","Century Gothic",AppleGothic,Arial,sans-serif;
  font-synthesis-weight: none !important;
}
.list-results .list-group-item .oclcnum {
  font-size: 80%;
  text-align: left;
}
@media (min-width: 992px) {
  .list-results .list-group-item .oclcnum {
    text-align: right;
  }
}
.list-results .list-group-item .oclcnum p {
  display: inline;
}
.list-results .list-group-item .oclcnum p:nth-child(n+2):before {
  color: #999;
  content: '| ';
  margin: 0 .2rem;
}
.search-results-wrapper .pagination {
  flex-wrap: wrap;
}
