.askus > h2 {
    background: url(../img/AskUslogo2.png) no-repeat center center transparent;
    height: 52px;
}
.askus-note-online {
    padding-top: .75em;
}
.askus-note-busy,
.askus-note-offline {
    font-size: .9em;
    margin: 0;
    padding: .5rem .75rem;
}
.askus-footer {
    font-size: .9em;
    margin: 10px 0px 0px;
    padding: 0;
    text-align: center;
}
.askus-footer a:hover {
    text-decoration: none;
    border: none;
    color: #007fa3;
}
.askus-footer span {
    margin-left: 8px;
    margin-right: 8px;
    transition: all .3s ease-in-out;
    white-space: nowrap;
}
.askus-footer a span:hover {
    border-bottom: 1px dotted #ccc;
    color: #900;
}
.libraryh3lp {
    background-color: #FFF;
    border: 1px solid #AAA;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    max-width: 340px;
    margin: 0 auto;
}
.libraryh3lp > a {
    text-decoration: none;
    border: none;
    color: #666;
    font-size: 0.9em;
    text-align: center;
    display: block;
    width: 100%;
    height: 50px;
    max-height: 4em;
    cursor: text;
    background: none repeat scroll 0px 0px transparent;
    outline: 0;
}
.requires-js {
    display: none;
}