.chat-embedded > h2 {
    color: #900;
}
.chat-popup > h2 {
    background: url(../img/AskUslogo2.png) no-repeat center center transparent;
    height: 52px;
}
#lh3-chat .focus-ring {
    border-color: #80bdff;
    border-radius: .25rem;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
    outline: 0;
}
#lh3-chat .form-control {
    height: auto;
    line-height: 1.4;
}
#lh3-chat .status a {
    background-color: #fff;
    transition: background-color .2s ease-in-out;
}
#lh3-chat .status a:focus,
#lh3-chat .status a:hover {
    background-color: #f0f0f0;
    text-decoration: none!important;
}
#lh3-chat .form-control .fas {
  margin-top: .58rem;
}
.chat-embedded #lh3-online {
    border: 1px solid #aaa;
    box-shadow: none;
}
.chat-embedded iframe {
    border: 0;
    display: block;
    min-height: 300px;
    padding: 0 1px;
    width: 100%;
}
.chat-popup .status a {
    color: inherit;
}
.chat-popup .media i {
    /*padding-top: 2px;*/
}
#lh3-chat.col-auto {
    padding: 0;
}
.askus-note-busy,
.askus-note-offline {
    margin: 0;
    padding-top: .5rem;
}
.askus-header {
    display: flex;
    margin-bottom: .25rem;
}
.askus-header .askus-heading {
    flex-grow: 1;
}
.askus-header h2 {
    background: url(/modules/custom/unb_libraries_askus/img/AskUslogo2.png) no-repeat center center transparent;
    height: 52px;
    text-align: center;
}
.askus-header .askus-icon {
    display: none;
}
.askus-header .askus-icon .fas:before {
    font-size: 1.75rem;
}
.askus-footer {
    font-size: .975rem;
    margin: .75rem 0 0;
    padding: 0;
}
#main .askus-footer a:focus,
#main .askus-footer a:hover {
    color: #00607a;
}
.askus-footer span:not(.sr-only) {
    margin-bottom: .5rem;
    transition: all .3s ease-in-out;
    white-space: nowrap;
}
.askus-footer a span:hover {
    box-shadow: 0 1px 1px -1px;
    color: #900;
    text-decoration: none;
}
.requires-js {
    display: none;
}
