.chat-embedded,
.chat-popup {
    max-width: 360px;
}
.chat-embedded > h2 {
    color: #900;
}
.chat-popup > h2 {
    background: url(../img/AskUslogo2.png) no-repeat center center transparent;
    height: 52px;
}
#lh3-chat,
.askus-footer {
    font-size: .9rem;
    text-align: center;
}
#lh3-chat .focus-ring {
    border-color: #80bdff;
    border-radius: .25rem;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
    outline: 0;
}
.chat-embedded #lh3-online {
    border: 1px solid #aaa;
    box-shadow: none;
}
.chat-embedded iframe {
    border: 0;
    display: block;
    min-height: 300px;
    padding: 0 1px;
    width: 100%;
}
.chat-popup #lh3-online {
    border: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 0 .2rem;
}
#lh3-online a {
    cursor: text;
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
}
#lh3-online a,
#lh3-online a:focus,
#lh3-online a:hover {
    color: #666;
}
.askus-note-busy,
.askus-note-offline {
    margin: 0;
    padding-top: .5rem;
}
.askus-footer {
    margin: .75rem 0 0;
    padding: 0;
}
.askus-footer a {
    margin: auto .25rem;
    padding: .25rem;
}
.askus-footer a:hover {
    color: #007fa3;
    text-decoration: none;
}
.askus-footer span {
    margin-left: 8px;
    margin-right: 8px;
    transition: all .3s ease-in-out;
    white-space: nowrap;
}
.askus-footer a span:hover {
    box-shadow: 0 1px 1px -1px;
    color: #900;
}
.requires-js {
    display: none;
}
