<div class="row">
  <div class="col-8">
    <h2>Non-proxied Resource</h2>
    <p>The link you have followed is to resource or public website that is <strong>not licensed to, managed by or necessarily supported</strong> by UNB Libraries.</p>
    <p><strong>This website or eResource will not be proxied</strong>.</p>
    <ol>
      <li>If you believe this to be a legitimate resource or website, you may click the link&nbsp;below to proceed directly to the website.
        <ul>
          <li><a href="{{ url }}">{{ url }}</a></li>
        </ul>
      </li>
      <li>If you know this to be a legitimate UNB-licensed resource that requires proxying for off-campus access, please submit a Trouble ticket to alert us to the issue.
        <ul>
          <li><a href="https://lib.unb.ca/help/ticket/new?nature=Proxy">Submit a Proxy/Authentication Problem trouble Ticket</a>.</li>
        </ul>
      </li>
    </ol>
  </div>
  <div class="col-4">
    <h2>Further Assistance</h2>
    <p>If you require further assistance, need alternative or immediate access to the information or there has been considerable delay in correcting the problem, please <b>Ask Us</b> for assistance.</p>
    {{ askus | raw }}
  </div>
</div>
