<p>This resource contains items from multiple publishers which have been made accessible via a single interface. Therefore use of the collection is governed by multiple licenses.</p>
<p>For more information relevant to a specific title, click on the Permitted Use button found at the title-level record.</p>
<p><strong>For licensing information and assistance, contact:</strong><br>
<a href="/contact-unb-libraries-staff?recipient=lroulsto">Linda Roulston</a><br>
Licensing Librarian, UNB Libraries<br>
(506) 451-6879</p>
<p><strong>For copyright concerns</strong> please see <a href="/copyright">Copyright @ UNB</a> for further information.</p>
