{#
/**
 * @file simple_group.html.twig
 * Default theme implementation to present Simple group data.
 *
 * This template is used when viewing Simple group pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_simple_group()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('simple_group') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
