{#
/**
 * @file node_taxonomy_path.html.twig
 * Default theme implementation to present Node taxonomy path data.
 *
 * This template is used when viewing Node taxonomy path pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_node_taxonomy_path()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('node_taxonomy_path') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
