<div class="d-flex flex-column flex-lg-row">
  <div class="flex-grow-1 mb-3">
    {% include '@public_trouble_tickets/alerts.html.twig' %}
    <p><b>Note:</b> Tickets have been submitted for these e-Resources, but they may still be functioning normally or you may be able to access some of their functionality.</p>
    <div class="mb-3" id="ticket-list">
      <div class="text-align-center">
        <i class="fa-3x fas fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <h2>Systems and Services Status</h2>
    <p><a href="/help/status" class="btn btn-danger"><i class="fas fa-list-ul"></i> View Services Status</a></p>
    <h2>Further Assistance</h2>
    <p><a href="/help/ticket/new" class="btn btn-danger"><i class="fas fa-pencil-alt"></i> Submit New Trouble Ticket</a></p>
    <p>If you require further assistance, need alternative or immediate access to the information or there has been considerable delay in correcting the problem, please <strong>Ask Us</strong> for assistance.</p>
    {{ askus }}
  </div>
</div>

