<div class="d-flex flex-column flex-lg-row">
  <div class="flex-grow-1 mb-3">
    <p>The Systems Group provides active monitoring of most major library systems and services.</p>
    {% include '@public_trouble_tickets/alerts.html.twig' %}
    <div class="d-flex justify-content-between mt-5 mb-1">
      <h2 class="m-0">Active Monitoring</h2>
      <div>
        <a class="border btn btn-light btn-sm" href="https://status.lib.unb.ca/">status.lib.unb.ca
        <i class="fas fa-angle-double-right fa-sm fa-muted ml-1" aria-hidden="true"></i></a>
      </div>
    </div>
    <div class="embed-responsive embed-responsive-status">
      <iframe class="embed-responsive-item pr-1"
      src="https://status.lib.unb.ca/?layout=embed&group=core&monitor=0"
      title="Systems & Services Monitored by UNB Libraries">
        <p>Sorry, web browser <em>iframe</em> support is needed for this content.</p>
      </iframe>
    </div>
  </div>
  <div class="col-12 col-lg-4 mb-3">
    <h2>Report Resource Issues</h2>
    <p><a href="/help/ticket/new" class="btn btn-danger"><span class="fas fa-pencil-alt" aria-hidden="true"></span> Submit New Trouble Ticket</a></p>
    <p><a href="/help/tickets" class="btn btn-info"><span class="fas fa-list-ul" aria-hidden="true"></span> View Current Trouble Tickets</a></p>
    <hr />
    <h2>Further Assistance</h2>
    <p>If you require further assistance, need alternative or immediate access to the information or there has been considerable delay in correcting the problem, please <b>Ask Us</b> for assistance.</p>
    {{ askus }}
  </div>
</div>
