<div>Author: {% for author in portolan_record.author %}<span class="portolan-author">{{ author.value }}</span>{% if not loop.last %}; {% endif %}{% endfor %}</div>
<div>{{ portolan_record.abstract.value }}</div>