/* VARIABLES */
$blue-irving: #364680;
$text-muted-wcag: #595959;
$max-breakpoint: 1400px;
// Ivy Chatbot
$ivy-boxshadow: 0 6px 13px 0 rgba(0, 0, 0, .23);
$ivy-red: rgb(215, 46, 58);
$ivy-size: 64px;
$ivy-position: $ivy-size / 2;
$ivy-transition-duration: 0.15s;
