/* Import unb_lib_theme base theme administration overrides (i.e. Seven) */
@import '../../../../../vendor/unb-libraries/unb_lib_theme/src/scss/admin-overrides-seven.scss';

/* Custom administration theme overrides */
.field--name-field-banner-image {
  fieldset.media-library-widget:not(.fieldgroup) legend {
    top: 1rem;
  }

  .media-library-selection .media-library-item--grid {
    width: 100%;
  }
}

/* Adjustment for Media Library's Legend within Photo Gallery form entity reference */
.field--name-field-images fieldset.media-library-widget legend {
  top: .5rem;
}

.details-wrapper {
  .form-wrapper:not(:first-child) {
    margin-top: 1.5rem;
  }
}

th.field-label .label {
  border-bottom: 1px solid #bfbfbf;
  display: block;
  margin-bottom: .25rem;
}

// Guide admin form overrides.
.guide-form {
  #edit-path-wrapper {
    margin: 0;
  }
  #edit-unlisted-wrapper {
    margin-bottom: 0;
  }

  .layout-region-content-entity-footer__content {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }
}
