/* Import Sass files */
@import 'import';

/** OVERRIDES **/
/* ELEMENTS */
/* Separate float image from adjacent content */
.align-left img,
img.float-left {
  margin-right: .5rem;
}
img.float-right,
.align-right img {
  margin-left: .5rem;
}
figure {
  &.align-center,
  &.align-left,
  &.align-right {
    .field--type-image {
      margin: 0;
    }

    img {
      margin: 0;
      width: 100%;
    }
  }
  &.align-left {
    margin-right: 1rem;
  }
  &.align-right {
    margin-left: 1rem;
  }

  figcaption {
    color: $gray-700;
    font-size: 95%;
    line-height: 1.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}


/* Link hover effect (not in button/chosen/nav contexts) */
#main {
  p a:not(.link-no-hover):not(.btn):not(.button):not(.chosen-single):not(.dropdown-item):not(.nav-link):not(.page-link),
  .link-underline a:not(.link-no-hover):not(.btn):not(.button):not(.chosen-single):not(.dropdown-item):not(.nav-link):not(.page-link) {
    text-decoration: underline;
    text-decoration-color: $link-text-decoration-color-fallback;
    text-decoration-color: $link-text-decoration-color;
  }
  a:not(.link-no-hover):not(.btn):not(.button):not(.chosen-single):not(.dropdown-item):not(.nav-link):not(.page-link) {
    text-decoration: underline;
    text-decoration-color: transparent;

    @media screen and (max-width: 767px) {
      text-decoration-color: $link-color;
      text-decoration-color: rgb(0 96 122 / 25%);
    }

    &:after,
    &:before {
      display: inline-block;
      text-decoration: none;
    }

    &.email-icon {
      &:before {
        @include link-fa-icon('\f0e0', right);
      }
    }

    &:hover {
      text-decoration: underline;
      text-decoration-color: $link-hover-color;
      text-decoration-color: rgb(144 0 0 / 52%);
    }

    &.text-white:hover {
      text-decoration-color: $white;
      text-decoration-color: rgb(255 255 255 / 52%);
    }
  }
}
/* Link hover exceptions: back-to-top/featured news/dark table header */
#back-top a:hover {
  box-shadow: none;
}
.thead-dark {
  a:hover {
    @include css3-prefix(box-shadow, 0px 2px 1px -1px rgba(255, 193, 7, .3) !important);
  }
}

caption {
  caption-side: top;
  color: $black;
}
dd {
  margin-left: 1.5rem;
}
dt:not(:first-of-type) {
  margin-top: 1.25rem;
}

/* Table header sort icon */
thead {
  th[scope="col"] {
    a {
      &:before {
        content: '\f362';
        display: inline-block;
        font: var(--fa-font-solid);
        font-size: 80%;
        margin-bottom: 2px;
        margin-right: .5rem;
        text-rendering: auto;
        transform: rotate(90deg);
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
/* END Elements */

/* CLASS */
.aggregation {
  margin-left: .25rem;
}



.layout__region--second {
  .chat-embedded,
  .block-upcoming-hours-block {
    h2 {
      color: inherit;
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }
  }
}

.more-link a {
  color: $red;
}

/* AJAX Throbber */
.ajax-progress-throbber {
  padding: 1px;

  .throbber {
    padding: 4px 8px 0;
  }
  .message {
    color: $red;
    padding: 0;
  }
}
/* Drupal alert messages */
.alert-dismissible {
  .close {
    background: rgba(128, 128, 128, .1);
    @include opacity(.8);
  }
}

/* BS4 alerts */
.alert-primary {
  a {
    .alert-link {
      @include css3-prefix(transition, all .3s);
      border-bottom: 1px dotted #004085;
      padding-bottom: 1px;
    }
    &:hover {
      .alert-link {
        border-color: transparent;
        color: inherit;
      }
    }
  }
}
/* BS4 Dropdown */
.dropdown-item:hover {
  text-decoration: underline;
}

/* Embedded Media Image - centered */
.align-center {
  text-align: center;
}

/* CONTEXT sensitive */
/* Media files/attachments */
a:not(.link-no-icon) {
  &[href$=".doc"]:after,
  &[href$=".docx"]:after {
    @include link-fa-icon("\f1c2", left, '', #2b5999);
  }

  &[href$=".pdf"]:after {
    @include link-fa-icon("\f1c1", left, '', #a40607);
  }

  &[href$=".ppt"]:after,
  &[href$=".pptx"]:after {
    @include link-fa-icon("\f1c4", left, '', #e86900);
  }

  &[href$=".rtf"]:after,
  &[href$=".txt"]:after {
    @include link-fa-icon("\f15b", left, '', #373f44);
  }

  &[href$=".csv"]:after,
  &[href$=".xls"]:after,
  &[href$=".xlsx"]:after {
    @include link-fa-icon("\f1c3", left, '', #206f43);
  }

  &[href$=".zip"]:after {
    @include link-fa-icon("\f1c6", left, '', #eabf0d);
  }
}
/* End Media files */

/* Pagination */
ul.pagination {
  justify-content: center !important;
  margin-top: 1.5rem;
}
.page-item {
  a.page-link {
    color: $link-color;

    &:focus,
    &:hover {
      color: $red;
    }
  }

  span.page-link {
    color: $black;
    cursor: default;

    &:hover {
      background: inherit;
    }
  }
}
/* END Pagination */

/* Library News */
.path-frontpage .node__content .layout .layout__region > .block-views-blocklibrary-news-featured-block {
  padding-bottom: 1rem;
}
.library-news {
  /* Library news listing page */
  .library-news {
    span.page-link {
      background: inherit;
      color: $gray-dark;
      &:hover {
        cursor: default;
      }
    }
  }

  .more-link a {
    color: $link-color;

    &:focus,
    &:hover {
      color: $link-hover-color;
    }

    &:after {
      content: '\f101';
      font: var(--fa-font-solid);
      font-size: 75%;
      margin-left: .25rem;
      opacity: .7;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  /* Front page teasers */
  .recent-teasers {
    .views-row h3 {
      margin-bottom: 0;
    }
  }

  /* Separate views list items */
  .view-content div:not(:first-child) article {
    margin-top: 3rem;
  }

  span.page-link {
    background: inherit;
    color: $gray-dark;
    &:hover {
      cursor: default;
    }
  }

  @media (max-width: 1200px) {
    nav {
      margin-bottom: 3rem;
    }
  }
}
/* Featured image */
.news-featured {
  .views_slideshow_main {
    background-color: $light;
    border: 1px solid $dark;
  }
  .views-slideshow-controls-bottom {
    margin-top: .33rem;

    @media(max-width: 981px) {
      .widget_pager {
        li {
          margin-left: .66rem;
          margin-right: .66rem;
        }
      }
    }
  }
}
.news-featured .views_slideshow_main,
.front-page-border {
  a img {
    @include opacity(1);
    @include css3-prefix(transition, opacity .3s);
  }
  a:focus img,
  a:hover img {
    @include opacity(.75);
  }
}
/* Library new post metadata */
.attribution,
.field--name-field-categories {
  color: $gray-600;
  @include css3-value-prefix(display, box);
  font-size: .9rem;

  .list-inline-item:not(:last-child) {
    margin-bottom: .2rem;
  }

  &:before {
    font: var(--fa-font-solid);
    font-size: 85%;
    margin-right: .25rem;
    vertical-align: text-top;
    text-rendering: auto;
    width: .8rem;
    -webkit-font-smoothing: antialiased;
  }
}
/* News categories tags icon */
ul.field--name-field-categories:before {
  content: '\f02c';
}
/* Library news post */
.node--type-news-post .paragraph {
  margin-top: 1.5rem;
}
.news-metadata {
  padding-right: 1.5rem;
  position: relative;

  .attribution {
    margin-right: 1rem;

    &:before {
      content: '\f783';
    }
  }

  .badge {
    position: absolute;
    right: 0;
    top: 0;
  }
  .badge-stickied {
    color: $unb-red;
    font-size: 95%;
    vertical-align: text-top;
  }
}

/* Sidebar archive block */
.news-archive {
  .item-list ul {
    list-style: initial;
    padding-left: 40px;
  }

  .more-link {
    font-size: .95rem;
    text-align: right;

    &:before {
      color: $gray-dark;
      content: '\f0fe';
      font: var(--fa-font-solid);
      margin-right: .25rem;
      text-rendering: auto;
      vertical-align: text-top;
      -webkit-font-smoothing: antialiased;
    }

    a {
      color: $unb-red;
    }
  }
}
/* END Library News */

/** Search Webpages **/
.search-webpages {
  form {
    margin: 3rem;

    .form-row {
      & > fieldset {
        flex: 1 1 auto;
      }
    }

    .form-group {
      margin-bottom: .75rem;
    }

    .form-select {
      /* Match stock form-text margin top */
      margin-top: 0.25rem;
    }

    .js-form-item-query {
      /* Emulate BS4 input-group-prepend with FA search */
      padding-left: 45px;
      position: relative;

      &:before {
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-bottom-left-radius: .25rem;
        border-top-left-radius: .25rem;
        color: #495057;
        content: '\f002';
        font: var(--fa-font-solid);
        /* Match form margin */
        left: .25rem;
        top: .25rem;
        padding: 0.75rem;
        position: absolute;
        text-rendering: auto;
        white-space: nowrap;
        z-index: -1;
        -webkit-font-smoothing: antialiased;
      }

      input {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin-top: .25rem;
      }
    }

    label {
      /* Emulate BS4 sr-only: label accessibility */
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }

  /* Emulate BS4 input-group-lg */
  &.input-group-lg {
    input,
    select {
      font-size: 1.25rem;
      line-height: initial;
      padding-left: .75rem;
      padding-right: .75rem;
    }
    .form-select {
      font-size: 1.25rem;
      line-height: initial;

      &.chosen-container {
        width: 100%!important;

        .chosen-single {
          span {
            margin-top: 3px;
          }

          div b {
            background-position: 2px .5rem;
          }
        }
      }
      &.chosen-with-drop .chosen-single div b {
        background-position: -16px .5rem;
      }
    }
    #edit-query {
      input {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  @media (max-width: 414px) {
    form {
      margin: 3rem 1rem;
    }
  }
}

/* Remove autocomplete li hover */
.search-api-autocomplete-search .ui-menu-item:hover {
  background: inherit;
}

/* Remove transition effect on autocomplete dropdown items */
.ui-autocomplete {
  a.ui-menu-item-wrapper {
    transition: none;
  }
}

/* Borrow BS4 widget styles */
.page-view-search-our-webpages {
  .ui-autocomplete {
    &.ui-widget.ui-widget-content {
      border-color: #ced4da;
    }

    background: #f8f9fa;
    border-radius: .25rem;
    padding: .25rem .5rem;

    /* Inject 'Suggested' text at top of autocomplete list */
    li:first-child:before {
      color: #004085;
      border-bottom: 1px solid #ced4da;
      content: 'Suggested pages';
      display: block;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
      padding: .25rem;
    }
  }
}
/** END Search Webpages **/

/* Staff and Departments View */
.units-departments {
  font-size: 90%;

  h2 {
    color: $dark;
  }

  .field__item:not(:empty) {
    &:before {
      color: $gray-700;
      font: var(--fa-font-solid);
      margin-left: 1px;
      margin-right: .25rem;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }
  }

  .field-telephone:not(:empty) {
    &:before {
      content: '\f3cd'
    }
  }

  .field-email:not(:empty) {
    &:before {
      content: '\f0e0'
    }
  }

  .field-fax:not(:empty) {
    &:before {
      content: '\f1ac';
    }
  }

  .field-website:not(:empty) {
    &:before {
      content: '\f0c1';
    }
  }
}
.staff-departments {
  .legend {
    font-size: .9rem;
  }

  label {
    margin-bottom: 0;
  }

  table {
    margin-bottom: 2rem;

    caption {
      font-size: 1.3rem;

      .field-location,
      .field__item:not(:empty) {
        &:before {
          color: $gray-700;
          font: var(--fa-font-solid);
          margin-left: 1px;
          margin-right: .25rem;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
      }

      .field-fax:not(:empty) {
        &:before {
          content: '\f1ac';
        }
      }

      .field-location {
        color: $gray-700;
        font-weight: bold;
      }

      .field-telephone:not(:empty) {
        &:before {
          content: '\f3cd'
        }
      }
      .field-website:not(:empty) {
        &:before {
          content: '\f0c1';
        }
      }
      .metadata {
        font-size: .9rem;
      }
    }

    tbody {
      td {
        width: 25%;

        &:first-child {
          width: 40%;
        }

        &:last-child {
          width: 15%;
        }

        .head {
          color: $red;
        }
      }
    }

    thead {
      th {
        color: $white;

        a {
          display: flex;
        }
      }
    }
  }
}
/* END Staff and Departments View */

/* Seating Zones View */
.booking-spaces {
  a {
    &.border {
      &:focus,
      &:hover {
        border-color: $link-hover-color !important;

        & + figcaption {
          color: $link-hover-color;
        }
      }
    }

    &:focus,
    &:hover {
      div.border {
        border-color: $link-hover-color !important;
      }

      figcaption {
        color: $link-hover-color;
      }
    }
  }

  figure {
    display: table;

    &.caption-drupal-media {
      a {
        .field--name-field-media-image {
          background-color: #f8f9fa;
          margin: 0;

          img {
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            margin: 0;
            max-width: 182px;
            padding: 0.25rem;
            @include css3-prefix(transition, all .3s ease-in-out);
          }
        }

        &:focus,
        &:hover {
          box-shadow: none !important;

          & img {
            border-color: $link-hover-color;
          }

          & + figcaption {
            color: $link-hover-color;
          }
        }
      }
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
      @include css3-prefix(transition, all .3s ease-in-out);
      line-height: 120%;
      margin-top: .25rem;
    }
  }
}
/* END Seating Zone View */

/* Videos & Tutorials View */
.block-views-blockvideos-tutorials-random-slideshow-block {
  padding-bottom: 1.5rem!important;
}
@media(min-width: 1200px) {
  .block-views-blockvideos-tutorials-random-slideshow-block {
    float: left;
    max-width: 49%;
  }
  .block-views-blockvideos-tutorials-links-block {
    float: right;
    margin-top: 2.5rem;
    max-width: 49%;
  }
}
/* END Videos & Tutorials View */
/** END OVERRIDES **/


/** UTILITY CLASSES **/
/* Aria-expanded link toggle icons */
a:not(.link-no-icon)[data-toggle="collapse"] {
  &[aria-expanded="false"] {
    &:before {
      @include link-fa-icon('\f13a', right);
    }
  }

  &[aria-expanded="true"] {
    &:before {
      @include link-fa-icon('\f139', right);
    }
  }
}

/* Font Awesome Icon Vertical Position */
.fa-super:before {
  vertical-align: super;
}
.fa-text-top:before {
  vertical-align: text-top;
}

/* Custom List style */
.bg-red,
.list-group-item.active.bg-red {
  background: $red;
  border-color: $red;
}

.card-collapse {
  background-color: $gray-100;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  a {
    color: #005C75;
    &:hover {
      color: $red;
    }
  }

  ul {
    margin-bottom: 0;
  }
}

.list-compact {
  li {
    margin-bottom: .25rem;
  }
}
li.list-group-item {
  a {
    display: block;

    &:hover {
      box-shadow: none !important;
      text-decoration: underline;
    }
  }
}
.list-group-item-active {
  border-left: .26em solid $red;

  a {
    color: $red;
    padding-left: .15rem;
  }
}

/* Custom "Hours" table style */
.table-hours {
  margin-left: 1.5rem !important;

  caption {
    margin-left: -1.5rem;
  }

  th {
    font-weight: normal;
    width: 50%;
  }
}
.table-hours-listings {
  ul {
    list-style-type: none;
    margin-bottom: 0;
  }
}
.text-dark {
  color: $dark;
}
.text-muted-wcag {
  color: $text-muted-wcag;
}
.text-yellow {
  color: $text-yellow;
}

dl.two-cols {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: 1fr 2fr;
}

table {
  /* Consistent table 1st col widths */
  .col-50 {
    tr {
      & > td,
      & > th {
        width: 50% !important;
      }
    }
  }

  /* Increase Barrio stock table font-size */
  .font-size-larger {
    font-size: .95rem;
  }
}

/* Image links with hover caption */
a {
  figure.figcaption-overlay {
    margin-bottom: 0;
    position: relative;

    figcaption {
      @include css3-prefix(transition, all .3s ease-in-out);
      background-image: linear-gradient(180deg, rgb(27 33 37 / 60%), rgb(27 33 37 / 100%));
      color: $white;
      padding: .75rem;
      width: 100%;

      &.caption-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &.caption-hover {
        opacity: 0;
      }
    }
  }

  &:focus,
  &:hover {
    figure.figcaption-overlay figcaption {
      color: $navbar-dark-hover;

      &.caption-hover {
        opacity: 1;
      }
    }
  }
}

/* Bootstrap4 custom tile/cards utility */
.card-tiles {
  .card {
    margin-bottom: .05rem;

    &:not(:first-child) {
      @media(min-width: 992px) {
        margin-left: .05rem;
      }
    }

    &:not(:last-child) {
      @media(min-width: 992px) {
        margin-right: .05rem;
      }
    }

    a {
      img {
        @include css3-prefix(transition, all .25s ease-in-out);
      }

      &:focus,
      &:hover {
        img {
          box-shadow: 0 .1rem .2rem $black;
          filter: grayscale(100%);
        }
      }
    }
  }
}
.multi-row > .container div.w-100 > div {
  @media (min-width: 992px) {
    width: 25%
  }
}
/** END UTILITY **/
