/* If you wish to compile/extend Bootstrap then uncomment line below and disable subtheme CDN */
@import '../../../../../vendor/unb-libraries/unb_lib_theme/src/scss/style.scss';

/* Import Sass files */
@import 'import';

.text-red {
  color: $red;
}

/* Discovery/e-Resources Search */
.tabs-theme-dark .card-body .divider {
  border-top: 1px solid $yellow;
  margin: 1rem 0;
  max-width: 16rem;
}
.tabs-theme-dark {
  flex-wrap: wrap;
}
.tabs-theme-dark .nav-tabs {
  border-bottom: none;
}
.tabs-theme-dark .nav-tabs .nav-item {
  margin-bottom: 0;
  z-index: 9;
}
.tabs-theme-dark .nav-link {
  padding-left: 1rem;
  padding-right: 1rem;
}
.tabs-theme-dark .card-header h3 {
  font-size: 1.2em;
}
.tabs-theme-dark .nav-tabs .nav-link:focus,
.tabs-theme-dark .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.tabs-theme-dark .nav-tabs .nav-link.active {
  border-color: $yellow;
}
.tabs-theme-dark .nav-tabs .nav-item a:not(.active):focus,
.tabs-theme-dark .nav-tabs .nav-item a:not(.active):hover {
  background-color: $gray-444;
}
@media(max-width: 991px) {
  .tabs-theme-dark {
    border: none;
  }
  .tabs-theme-dark #tabs {
    display: none;
  }
  .tab-content > .tab-pane {
    display: block !important;
    // Override fade '0' opacity.
    @include opacity(1);
  }
}
@media(min-width: 992px) {
  .nav-tabs {
    display: flex;
  }
  .card {
    border: none;
  }
  .card .card-header {
    display: none;
  }
  .card .collapse{
    display: block;
  }
  .tabs-theme-dark {
    border: 1px solid $gray-dark;
  }
}
/* END Discovery/eResources Search */

/* Media files */
.file {
  background: none;
  font-family: "Font Awesome 5 Free";
  padding-left: 0;
}
.file--application-pdf:before {
  color: $red;
  content: "\f1c1";
}
.file--mime-application-msword:before,
.file--x-office-document:before {
  color: #2b5999;
  content: "\f1c2";
}
.file--mime-text-plain:before {
  color: $gray-dark;
  content: "\f15b";
}
/* End Media files */

/* Scale content images to parent block element */
.block img {
  max-width: 100%;
  height: auto
}

/* Copy/paste btn-inverse rule */
.btn-inverse {
  color: $white;
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444, #222);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:focus {
  color: $yellow;
}

/* Drupal alert messages */
.alert-dismissible .close {
  background: rgba(128,128,128,.1);
  @include opacity(.8);
}
