span[data-color="#1ABC9C"] {color: #1ABC9C;}
span[data-color="#2ECC71"] {color: #2ECC71;}
span[data-color="#3498DB"] {color: #3498DB;}
span[data-color="#9B59B6"] {color: #9B59B6;}
span[data-color="#4E5F70"] {color: #4E5F70;}
span[data-color="#F1C40F"] {color: #F1C40F;}
span[data-color="#16A085"] {color: #16A085;}
span[data-color="#27AE60"] {color: #27AE60;}
span[data-color="#2980B9"] {color: #2980B9;}
span[data-color="#8E44AD"] {color: #8E44AD;}
span[data-color="#2C3E50"] {color: #2C3E50;}
span[data-color="#F39C12"] {color: #F39C12;}
span[data-color="#E67E22"] {color: #E67E22;}
span[data-color="#E74C3C"] {color: #E74C3C;}
span[data-color="#ECF0F1"] {color: #ECF0F1;}
span[data-color="#95A5A6"] {color: #95A5A6;}
span[data-color="#DDDDDD"] {color: #DDDDDD;}
span[data-color="#FFFFFF"] {color: #FFFFFF;}
span[data-color="#D35400"] {color: #D35400;}
span[data-color="#C0392B"] {color: #C0392B;}
span[data-color="#BDC3C7"] {color: #BDC3C7;}
span[data-color="#7F8C8D"] {color: #7F8C8D;}
span[data-color="#999999"] {color: #999999;}
span[data-color="#000000"] {color: #000000;}
