.header-front {
  /*background-attachment: fixed;*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  #header-overlay {
    /*background-image: linear-gradient(180deg, rgb(27 33 37 / 25%), rgb(27  33  37 / 0));*/
  }

  .card {
    color: $white;

    a:not(.chosen-single),
    .custom-control-label {
      color: $white;
      padding: 1px;

      &:not(.Accordion-trigger) {
        &:focus,
        &:hover {
          color: $text-yellow;
        }
      }
    }
  }
  .card-header {
    background-color: initial;
  }
  .form-control:placeholder-shown {
    opacity: 1;
  }
}

.front-page-border {
  border: 1px solid $secondary;
  display: inline-block;

  &.image-collapse {
    @media (max-width: 991px) {
      display: inline-block;
    }
  }

  /* Borrow/override old Featured news image */
  a img {
    @include opacity(1);
    @include css3-prefix(transition, opacity .3s);
  }
  a:hover img {
    @include opacity(.75);
  }
}
.news-feature {
  @media (min-width: 991px) and (max-width: 1200px) {
    img {
      padding-left: 1rem;
    }
  }
}

.path-frontpage {
  #header {
    #navbar-top {
      background-image: linear-gradient(180deg, rgba(27 33 37 / 85%), rgba(27 33 37 / 50%));
    }

    #navbar-main {
      &:not(.affix) {
        background-image: linear-gradient(180deg, rgba(27 33 37 / 50%), rgb(27  33  37 / 0%));
      }
      @media(max-width: 991px) {
        background: #1b2125;
        #nav-btn .btn {
          border-color: $dark;
        }
      }

      #navbar {
        .megamenu-li {
          button.nav-link {
            color: rgb(255 255 255 / 89%);
            @media (min-width: 992px) {
              font-weight: bold;
            }
          }

          &:not(.show) {
            button.nav-link {
              &:focus,
              &:hover {
                color: $gray-300;
              }
            }
          }
        }
      }
    }
  }

  .node__content {
    .layout {
      &:first-child {
        margin-bottom: 0;
        @media (max-width: 991px) {
          flex-direction: column-reverse !important;
        }
      }

      .layout__region > div {
         padding-bottom: 3.5rem;
      }

      @media (min-width: 992px) {
        .layout__region--first {
          border-right: 1px solid #ddd;
          padding-right: 2.5rem;
        }

        .layout__region--second {
          padding-left: 2.5rem;
        }
      }
    }
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}
