.front-page-border {
  border: 1px solid $secondary;
  display: inline-block;

  &.image-collapse {
    @media (max-width: 991px) {
      display: inline-block;
    }
  }

  /* Borrow/override old Featured news image */
  a img {
    @include opacity(1);
    @include css3-prefix(transition, opacity .3s);
    /* Define broken image min dimensions */
    min-height: 100px;
    min-width: 250px;
  }
  a:hover img {
    @include opacity(.75);
  }
}

.news-feature {
  @media (min-width: 991px) and (max-width: 1200px) {
    img {
      padding-left: 1rem;
    }
  }
}

.path-frontpage {
  .header-fluid {
    #navbar-top {
      background-color: initial;
      background-image: linear-gradient(180deg, rgb(0 0 0 / 85%), rgb(0 0 0 / 80%));
    }

    #navbar-main {
      &:not(.affix) {
        background-image: linear-gradient(180deg, rgb(0 0 0 / 80%), rgb(0 0 0 / 65%));
      }

      #navbar .megamenu-li button.nav-link {
        color: #fff;
      }
    }

    #discovery-wrapper {
      background: linear-gradient(180deg, rgb(0 0 0 / 65%), rgb(0 0 0 / 0%) 20%)
    }
  }

  .node__content {
    .layout {
      &:first-child {
        margin-bottom: 0;
        @media (max-width: 991px) {
          flex-direction: column-reverse !important;
        }
      }

      .layout__region > div {
         padding-bottom: 3.5rem;
      }

      @media (min-width: 992px) {
        .layout__region--first {
          border-right: 1px solid #ddd;
          padding-right: 2.5rem;
        }

        .layout__region--second {
          padding-left: 2.5rem;
        }
      }
    }
  }
}
