.header-front {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;

  #navbar-top {
    background-color: initial;
    background-image: linear-gradient(180deg, rgb(27  33  37 / 100%), rgb(27  33  37 / 95%));
    font-size: .9rem;
    font-weight: bold;

    a.nav-link {
      line-height: normal;
    }
    a.nav-link[href$="//unb.ca"]::before {
      content: none;
    }
  }
  #navbar-main {
    background-image: linear-gradient(180deg, rgb(27  33  37 / 95%), rgb(27  33  37 / 85%));

    #navbar {
      padding-bottom: 1px;
    }

    ul[role="menubar"] a[aria-haspopup="true"] {
      color: $white;
    }
    ul[role="menubar"] .show a[aria-haspopup="true"] {
      color: $black;
    }
  }
  #banner {
    background-image: linear-gradient(180deg, rgb(27 33 37 / 85%), rgb(27  33  37 / 1%));

    table {
      border-collapse: initial;
      padding-bottom: 1rem;
    }
  }
  .megamenu {
    background: rgb(55 63 68 / 99%);
  }

  .navbar-nav li.show>a:first-child {
    background-image: none;
    background: rgb(255  255  255 / 90%);
  }
  .card {
    color: $white;

    a:not(.chosen-single),
    .custom-control-label {
      color: $white;
      padding: 1px;

      &:focus ,
      &:hover {
        color: $text-yellow;
      }
    }
  }
  .card-header {
    background-color: initial;
  }
  .form-control:placeholder-shown {
    opacity: 1;
  }
}

/* Override "banner" search container */
@media (max-width: 991px) {
  header .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .branding {
    width: 100%;
  }
}

#nav-btn {
    background: rgb(216 46 59 / 60%);
}
/* OVERRIDE */
.navbar-nav a {
  transition: none;
  transition: padding .15s ease-in;
}
/* OVERRIDE - to do: remove original affix */
.affix {
  transition: none;
}
#header .affix li.show>.nav-link,
#header .affix .megamenu-li>.nav-link:focus,
#header .affix .megamenu-li>.nav-link:hover,
.affix .branding a:focus, .affix .branding a:hover {
    border-bottom-color: #bd0000;
}
button[data-target="#navbar"][aria-expanded="false"]:after {
  @include link-fa-icon('\f0c9', left);
}
button[data-target="#navbar"][aria-expanded="true"]:after {
  @include link-fa-icon('\f00d', left);
  margin-left: 0.44rem;
}
button[data-target="#quicklinks-wrapper"][aria-expanded="false"]:after {
  @include link-fa-icon('\f011', left, '', $text-muted);
}
button[data-target="#quicklinks-wrapper"][aria-expanded="true"]:after {
  @include link-fa-icon('\f011', left);
}
