/* OA Policy-inspired utilities */
.font-style-normal {
  font-style: normal;
}

.font-family-inherit {
  font-family: inherit;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: #8c949b;
}

dl.faq {
  dt {
    color: $gray-800;
    margin-bottom: .25rem;
    margin-top: 1.25rem;
  }

  dd {
    margin-left: 0;
  }
}

.limit-height {
  max-height: 655px;
}
@media (min-width: 1194px) {
  .limit-height {
    max-height: 627px;
  }
}
@media (min-width: 1367px) {
  .limit-height {
    max-height: 613px;
  }
}

.custom-dl {
  dd {
    margin-left: 0;
    font-size: .95rem;
  }
}

.theme-dark {
  .custom-control-label {
    &::before,
    &::after {
      top: .25rem
    }
  }
}
