.layout__region--content {
  .paragraph--type--photo-gallery {
    .field__items {
      margin-bottom: 2.5rem;
    }

    .field__item {
      display: inline-block;
      margin: 0 .5rem 1rem 0;
    }
  }
}
