.bg-dark-opacity-25 {
  background: rgb(52 58 64 / 25%);
}
.bg-dark-opacity-50 {
  background: rgb(52 58 64 / 50%);
}
.bg-dark-opacity-75 {
  background: rgb(52 58 64 / 75%);
}
.bg-light-opacity-25 {
  background: rgb(248 248 250 / 25%);
}
.bg-light-opacity-50 {
  background: rgb(248 248 250 / 50%);
}
.bg-light-opacity-75 {
  background: rgb(52 58 64 / 75%);
}
.btn-irving {
  background: $blue-irving;
  color: $white;
  transition: all .3s ease;

  &:focus,
  &:hover {
    background: $blue-irving;
    color: $white;
    opacity: .85;
  }
}
.fa-muted {
  opacity: .7;
}
.subtitle {
  color: $black;
  font-family: "ProximaNovaA-Thin", "Century Gothic", AppleGothic, Arial, sans-serif;
  font-size: .93rem;
  font-weight: bold;
}
p.subtitle {
  font-family: inherit;
  font-size: 1rem;
}

.font-size-smaller {
  font-size: 1rem;
}
figcaption .font-size-smaller {
  font-size: .8rem;
  opacity: .8;
}

.legend-small legend {
  font-size: inherit;
}

.font-style-normal {
  font-style: normal;
}

.font-family-inherit {
  font-family: inherit;
}

.text-underline {
  text-decoration: underline;
  text-decoration-color: #999ca8;
}

.limit-height {
  max-height: 655px;
}
@media (min-width: 1194px) {
  .limit-height {
    max-height: 627px;
  }
}
@media (min-width: 1367px) {
  .limit-height {
    max-height: 613px;
  }
}

.custom-dl {
  dd {
    margin-left: 0;
    font-size: .95rem;
  }
}

.theme-dark {
  .custom-control-label {
    &::before,
    &::after {
      top: .25rem
    }
  }
}
