.Accordion #category-label {
  color: #ffc107;
  font-family: 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;
}
.Accordion .navbar-toggler {
  font-size: 1rem;
  margin: 0 0 .5rem 0;
  padding: .5rem;
}
.Accordion .navbar-toggler[aria-expanded="false"]:after {
  content: '\f078';
  font: var(--fa-font-solid);
  font-size: smaller;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.Accordion .navbar-toggler[aria-expanded="true"]:after {
  content: '\f077';
  font-size: smaller;
  font: var(--fa-font-solid);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.Accordion input.form-control {
  line-height: calc(1.5em + 0.75rem + 2px);
}
.Accordion .form-control,
.Accordion button.btn-primary {
  border: 2px #000 solid;
  border-radius: .5rem;
}
.Accordion .form-control:focus,
.Accordion .form-group button[type="submit"]:focus,
.Accordion .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 60%);
}
.Accordion .form-control:placeholder-shown {
  opacity: 1;
}
.Accordion-trigger {
  background-color: #505050;
  background: initial;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
}
.Accordion .nav-item button,
.Accordion .nav-item .btn {
  border-style: none;
  border-bottom-color: transparent;
  border-bottom-style: outset;
  border-bottom-width: 2px;
  transition: all .3s ease-in-out;
}
.Accordion .nav-item [aria-expanded="true"]:hover {
  cursor: default;
}
.Accordion .nav-item [aria-expanded="false"]:focus {
  box-shadow: none;
  outline: 1px dotted #ffc107;
  outline-offset: 0;
}
.Accordion .nav-item [aria-expanded="false"]:hover,
.Accordion .nav-item [aria-expanded="false"]:focus {
  color: #dee2e6;
  border-bottom: 2px outset #ffc107;
}
.Accordion button::-moz-focus-inner {
  border: 0;
}
.Accordion-title {
  display: block;
  pointer-events: none;
  border: transparent 2px solid;
  border-radius: 5px;
  padding: 0.25em;
  outline: none;
}
.Accordion-panel {
  margin: 0;
  padding: 1em;
}
/* For Edge bug https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/4806035/ */
.Accordion-panel[hidden] {
  display: none;
}

.Accordion :not(.form-control).focus-ring:focus {
  outline: 1px dotted #fff;
}
@media (max-width: 767px) {
  .Accordion .navbar-collapse .nav-item [aria-expanded="true"] {
    opacity: .4;
  }
}
@media (min-width: 768px) {
  .Accordion .nav-item [aria-expanded="true"] {
    border-bottom-color: #ffc107;
    color: #ffc107;
  }
}

@media print {
  .Accordion .card > .d-flex {
    display: block;
  }
  .Accordion .Accordion-panel[hidden] {
    display: block!important;
  }

  .Accordion .card,
  .Accordion div.border,
  .Accordion .card-header {
    border: none!important;
  }

  .Accordion .card-body,
  .Accordion .Accordion-panel{
    padding-left: 0!important;
    padding-right: 0!important;
  }
}
