/* Discovery Search Forms */
#discovery-wrapper {
  min-height: 50vh;
}
#discovery-search {
  background-color: #505050;
  background-color: rgb(80  80  80 / 87%);
}
#discovery-search .card {
  background: #505050;
  background-color: initial;
  border: 0;
  color: #fff;
}
#discovery-search .card a:not(.chosen-single),
.Accordion .card .custom-control-label {
  color: #fff;
  padding: 1px;
}
#discovery-search .card a:not(.chosen-single):not(.Accordion-trigger):focus,
#discovery-search .card a:not(.chosen-single):not(.Accordion-trigger):hover {
  color: #ffc107;
}
#discovery-search .card-header {
  background-color: initial;
  border-bottom: 1px solid rgba(0, 0, 0, 0.18);
}
#discovery-search .card-body {
  min-height: 134px;
}
#discovery-search .list a {
  text-decoration: underline;
  text-decoration-color: transparent;
}
@media screen and (max-width: 767px) {
  #discovery-search .list a {
    text-decoration-color: #fff;
    text-decoration-color: rgb(255 255 255 / 25%);
  }
}
#discovery-search .list a:hover {
   box-shadow: none !important;
   text-decoration: underline;
   text-decoration-color: #ffc107;
   text-decoration-color: rgb(255 193 7 / 52%);
}
#discovery-wrapper #discovery-search .card-header a[aria-expanded="false"]:after {
  content: none;
}
#databaseID + .chosen-container-single .chosen-single span {
  color: #888;
}

/* Ask Us */
#ask-us {
  background-color: #ffc14c;
  background-color: rgb(255 193 7 / 86%);
  width: 30%;
}
#ask-us .askus-header h2 {
  background: none;
  color: #000;
  font-size: 2.4rem;
  text-align: left;
}
#ask-us .askus-header h2 span.sr-only {
  position: inherit;
  width: auto;
  height: auto;
}
#ask-us .askus-header .askus-icon {
  display: block;
}
#ask-us .askus-header .askus-icon .fas:before {
  font-size: 2.4rem;
}
#ask-us .askus-footer {
  font-size: inherit;
  margin-top: 1.75rem;
  text-align: left;
}
#ask-us .askus-footer a {
  border-bottom: 1px solid transparent;
  color: #000;
}
#ask-us .askus-footer a:focus {
  background: inherit;
  border-color: transparent;
  border-radius: 0;
  box-shadow: none;
  color: #900;
  outline-offset: 3px;
  outline: 2px dotted #900;
}
#ask-us .askus-footer span:not(.sr-only) {
  margin: 0;
}
/* Custom 'Compact' Chosen Search + Required Select fix (Research guides) */
#databaseID + .chosen-container-active .chosen-drop ul > li:first-child {
  background: #6c757d;
  color: #fff;
}
fieldset.form-type-select {
  position: relative;
}
.chosen-compact select.d-none {
  display: inline-block!important;
  height: auto!important;
  opacity: 0;
  position: absolute;
  max-width: inherit;
  width: 100%!important;
}

/* Reduce visual bleed of main navbar megemenu + discovery search */
@media (min-width: 992px) {
  #navbar-main + #discovery-wrapper > .container {
    transition: opacity .35s ease-in;
    opacity: 1;
  }
  #navbar-main:not(.affix) #navbar-main-content {
    transition: background-color .35s ease-in;
  }
  #navbar-main:not(.affix):focus-within #navbar-main-content,
  #navbar-main:not(.affix) #navbar-main-content:hover {
    background-color: rgb(55 63 68 / 99%);
  }
  #navbar-main:not(.affix):focus-within + #discovery-wrapper > div {
    opacity: .45;
  }
}
