.table-lib-hours table {
    min-width: 90%;
    width: auto;
}
.table-lib-hours table caption {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0;
}
.table-lib-hours table tr {
    padding-left: 0;
    vertical-align: bottom;
}
.table-lib-hours table a {
    color: #00607a;
    font-weight: normal;
    white-space: nowrap;
}
.table-lib-hours table a:focus,
.table-lib-hours table a:hover {
    color: #900;
    font-weight: normal;
}
