.table-lib-hours table {
    min-width: 60%;
    width: auto;
}
.table-lib-hours table caption {
    font-size: 1rem;
    font-weight: normal;
    padding-top: 0;
}
.table-lib-hours tfoot {
    display: table;
    width: 100%;
    margin-top: .5rem;
}
.table-lib-hours table tr {
    padding-left: 0;
}
.table-lib-hours table a {
    color: rgb(0 96 122);
    font-weight: normal;
}
.table-lib-hours table a:focus,
.table-lib-hours table a:hover {
    color: rgb(153 0 0);
    font-weight: normal;
}
