@import url("//hello.myfonts.net/count/2e9ce8");

@font-face {font-family: 'ProximaNovaA-Regular';src: url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_5_0.eot');src: url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_5_0.eot?#iefix') format('embedded-opentype'),url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_5_0.woff2') format('woff2'),url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_5_0.woff') format('woff'),url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_5_0.ttf') format('truetype');}
@font-face {font-family: 'ProximaNovaA-Semibold';src: url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_6_0.eot');src: url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_6_0.eot?#iefix') format('embedded-opentype'),url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_6_0.woff2') format('woff2'),url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_6_0.woff') format('woff'),url('/themes/contrib/unb_lib_theme/fonts/2E9CE8_6_0.ttf') format('truetype');}

* {
    font-family: 'ProximaNovaA-Regular', 'Century Gothic', AppleGothic, Arial, sans-serif;
}

strong {
    font-family: 'ProximaNovaA-Semibold', 'Century Gothic', AppleGothic, Arial, sans-serif;
    font-weight: normal;
}

#main {
    min-width: 100%;
    font-size: 1.1rem;
}

#header, #footer, .site-footer {
    display: none;
}

#main a {
    color: #006c8a;
    text-decoration: none;
    text-decoration-color: transparent;
    transition: all 0.25s ease-in-out;
}

#main a:focus-visible,
#main a:hover {
    color: #900;
    text-decoration-color: #900;
}

#main a:hover {
    text-decoration: underline;
}

/* UNB Libraries Logo SVG */
.unb-lib-logo {
    width: 240px;
    max-width: 100%;
}

.unb-lib-logo .fill-libraries {
    fill: #cd0000;
}

/* UNB Logo SVG */
.unb-logo {
    width: 185px;
    max-width: 100%;
}

.unb-logo .fill-sail {
    fill: #cd0000;
}

.unb-logo .fill-unb {
    fill: #fff;
}

#contact .btn {
    color: #FFF;
    border-radius: 4px;
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444, #222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

#contact .btn:hover, #contact .btn:focus {
    color: #fc0;
}
