#quicklinks-wrapper h3 {
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: .25rem;
}
#quicklinks-wrapper ul.list-inline li {
    display: inline-block;
}
#quicklinks-wrapper ul.list-inline li:not(:last-child):after {
    color: #999;
    content: '|';
}
#quicklinks-wrapper ul.list-inline li a {
    margin-right: .33rem;
}
#quicklinks .collapse:not(.show) {
    display: none!important;
}
#quicklinks .btn-dark:focus,
#quicklinks .btn-dark:hover {
    color: #ffc107;
}

@media (min-width: 768px) {
    #quicklinks-wrapper ul.list-inline li:not(:first-child) {
        padding: 0 .5rem;
    }
}
@media (min-width: 992px) {
    /* Force visible on large display */
    #quicklinks-wrapper.collapse:not(.show) {
        display: flex!important;
    }
    #quicklinks-wrapper ul.list-inline li a {
        margin-right: .75rem;
    }
     #quicklinks-buttons li:last-child {
         padding-right: 0;
     }
    #quicklinks-buttons .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
}
@media (max-width: 397px) {
    #quicklinks-buttons ul.list-inline li:not(:last-child) a {
        margin-bottom: .75rem;
    }
}
@media (max-width: 767px) {
    #quicklinks-wrapper h3 {
        display: block!important;
    }
}
@media (max-width: 991px) {
    #quicklinks {
        flex-direction: column;
    }
}
