#quicklinks-wrapper h3,
#quicklinks-wrapper .h3 {
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: .25rem;
}
#quicklinks .collapse:not(.show) {
    display: none!important;
}
#quicklinks .btn-dark:focus,
#quicklinks .btn-dark:hover {
    color: #ffc107;
}

@media (min-width: 1366px) {
  #quicklinks-buttons li:last-child {
    padding-right: 0;
  }
}
@media (min-width: 992px) {
    /* Force visible on large display */
    #quicklinks-wrapper.collapse:not(.show) {
        display: flex!important;
    }

    #quicklinks-buttons .btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
}
@media (max-width: 576px) {
    #quicklinks-buttons ul.list-inline li:not(:last-child) a {
        margin-bottom: .75rem;
    }
}
@media (max-width: 767px) {
    #quicklinks-wrapper h3 {
        display: block!important;
    }
}
@media (max-width: 991px) {
    #quicklinks {
        flex-direction: column;
    }
}
