<p>Hello {{ ior_submission.firstName }},</p>

<p>Your submission to "{{ ior_submission.getContest.title }}" has been accepted.</p>

<p>All submissions will be reviewed after the contest closes on {{ ior_submission.getContest.closeDate|date('Y-m-d') }}.</p>

<p>For any questions please contact <a href="mailto:sasham@unb.ca">Sasha Mullally</a>.</p>

<p><img src="https://media.lib.unb.ca/core/img-2015/UNB_Lib_Black_Red.png" alt="UNB Libraries"></p>
