<p>Hello {{ ior_submission.getFirstName }},</p>

<p>We are sorry to tell you that your submission to "{{ ior_submission.getContest.title }}" has been rejected.</p>

<p>You may re-submit an image until the contest closes on {{ ior_submission.getContest.closeDate|date('Y-m-d') }}.</p>

<p>For any questions please contact <a href="mailto:mbragdon@unb.ca">Marc Bragdon</a>.</p>

<p><img src="https://media.lib.unb.ca/core/img-2015/UNB_Lib_Black_Red.png" alt="UNB Libraries"></p>
