{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_page_title()
 */
#}
{{ title_prefix }}
{% if title %}
    <h1{{ title_attributes.addClass('title d-inline-flex') }}>
        {{ title }}
        <button class="btn btn-primary ml-3 invite"><span class="label">Copy Invite URL</span><i class="fa-regular fa-copy pl-3"></i></button>
    </h1>
{% endif %}
